{{> head }} {{!-- Con esta linea renderizo el head  --}}


    {{> navbar  }} {{!-- Con esta linea renderizo el navbar  --}}

   <div class="row">

       <div class="col-8">
           <h1>El Pequeño Holly y su Pandilla</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia non dolor at, architecto repellat voluptatem iure fugiat molestiae impedit labore quasi natus asperiores illo unde quaerat tempore ipsa ad error!</p>
       </div>

    <div class="col-4">
        <img src="assets/img/logo.png" class="img-thumbnail">
    </div>

   </div>

{{> footer }} {{!-- Con esta linea renderizo el footer  --}}